<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Ceviche Cloud</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>API_BASE_URL</key>
	<string>https://shapecloudapp.com/api</string>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Black.ttf</string>
		<string>Geist-Bold.ttf</string>
		<string>Geist-ExtraBold.ttf</string>
		<string>Geist-ExtraLight.ttf</string>
		<string>Geist-Light.ttf</string>
		<string>Geist-Medium.ttf</string>
		<string>Geist-Regular.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>Geist-Thin.ttf</string>
	</array>
</dict>
</plist>
